<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063253582879-o1qnh6fnim1pv0ls41h3o1on4n8okcr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063253582879-o1qnh6fnim1pv0ls41h3o1on4n8okcr2</string>
	<key>API_KEY</key>
	<string>AIzaSyDb1Akv3uy3c79UigE2ovqPZD_Bh9XFsuo</string>
	<key>GCM_SENDER_ID</key>
	<string>1063253582879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onesignal.example</string>
	<key>PROJECT_ID</key>
	<string>onesignalexample-6b5cf</string>
	<key>STORAGE_BUCKET</key>
	<string>onesignalexample-6b5cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063253582879:ios:d4066a13acf5a64ed9612a</string>
</dict>
</plist>